@page "/games/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppGames.Models
@inject IDbContextFactory<BlazorWebAppGames.Data.BlazorWebAppGamesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Games</h2>
<hr />
@if (Games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Games" OnValidSubmit="UpdateGames" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Games.Id" value="@Games.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Games.Title" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Games.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="releasedate" class="form-label">ReleaseDate:</label>
                    <InputDate id="releasedate" @bind-Value="Games.ReleaseDate" class="form-control" />
                    <ValidationMessage For="() => Games.ReleaseDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="coverimageurl" class="form-label">CoverImageURL:</label>
                    <InputText id="coverimageurl" @bind-Value="Games.CoverImageURL" class="form-control" />
                    <ValidationMessage For="() => Games.CoverImageURL" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/games">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Games? Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Games ??= await context.Games.FirstOrDefaultAsync(m => m.Id == Id);

        if (Games is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGames()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Games!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GamesExists(Games!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/games");
    }

    private bool GamesExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Games.Any(e => e.Id == id);
    }
}
