@page "/games"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorWebAppGames.Models
@using BlazorWebAppGames.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebAppGames.Data.BlazorWebAppGamesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="games/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Games">
    <PropertyColumn Property="games => games.Title" />
    <PropertyColumn Property="games => games.ReleaseDate" Title="Release Date" />
    <PropertyColumn Property="games => games.CoverImageURL" />
    <PropertyColumn Property="games => games.Id" Title="ID" />

    <TemplateColumn Title="Platform" Context="game">
        @string.Join(", ", game.GamePlatforms.Select(gp => gp.Platform.Name))
    </TemplateColumn>

    <PropertyColumn Property="games => games.Status" />

    <TemplateColumn Context="games">
        <a href="@($"games/edit?id={games.Id}")">Edit</a> |
        <a href="@($"games/details?id={games.Id}")">Details</a> |
        <a href="@($"games/delete?id={games.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private List<Game> Games = new();
    private BlazorWebAppGamesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        Games = context.Games.Include(g => g.GamePlatforms).ThenInclude(gp => gp.Platform).ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

   
}
