@page "/"

<PageTitle>Home</PageTitle>

<h1>Game Tracker</h1>

<p>Welcome to Game Tracker, an application that allows users to manage their video game collection.</p>

<p>Features include adding games, assigning platforms, trackong progress and more.</p>
